/* @import url("https://fonts.googleapis.com/css2?family=Neurial+Grotesk:wght@300;400;500;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&family=Sofia+Sans:ital,wght@0,100;0,200;0,400;1,300&display=swap');
body {
  margin: 0;
  line-height: normal;
  overflow-x: hidden;
}

/* window scrollbar */
/* ::-webkit-scrollbar {
  width: 16px;
  background-color: #1b1b1f;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 100px;
  background-color: #44582c;
  background-image: linear-gradient(to top, #d4f938, #b2f346, #90ec55, #6de462, #44db6f);
  background-clip: content-box;
} */

:root {
  /* fonts */
  --mobile-caption-1-medium: "Inter", sans-serif;

  /* font sizes */
  --mobile-subheading-medium-size: 14px;
  --font-size-19xl-3: 38.3px;
  --font-size-113xl-2: 132.2px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-53xl: 72px;
  --mobile-title-3-medium-size: 18px;
  --font-size-base: 16px;
  --font-size-9xl: 28px;
  --font-size-3xl-4: 22.4px;
  --font-size-xl-5: 20.5px;
  --font-size-smi-8: 12.8px;
  --font-size-21xl: 40px;
  --font-size-base-8: 15.8px;
  --mobile-caption-1-medium-size: 12px;
  --mobile-caption-3-size: 10px;
  --font-size-14xl-5: 33.5px;
  --font-size-77xl: 96px;

  /* Colors */
  --sematics-green: #29b57e;
  --color-mediumseagreen-100: #33b568;
  --color-mediumseagreen-200: #229852;
  --neutrals-grey-4: #e7e7ea;
  --color-gainsboro-100: #ddd;
  --neutrals-grey-91: #d8d8dd;
  --white: #fff;
  --color-black: #000;
  --color-mediumspringgreen-100: #58f28a;
  --color-mediumspringgreen-200: #43d46b;
  --color-gray-100: #fcfcfc;
  --neutrals-grey-2: #1b1b1f;
  --neutrals-grey-9: #19191d;
  --white1: #0e0e0f;
  --color-gray-200: rgba(0, 0, 0, 0.05);
  --color-gray-300: rgba(255, 255, 255, 0.25);
  --color-gray-400: rgba(16, 16, 16, 0.4);
  --neutrals-grey-8: #32333a;
  --neutrals-grey-6: #bbbbc3;
  --electric-green-primary: #ebff25;
  --color-darkgray-100: #a9a9a9;
  --neutrals-grey-41: #a0a0ac;
  --color-whitesmoke: #f3f3f3;
  --neutrals-grey-61: #666673;
  --color-slategray: #808090;
  --color-tomato: #ff6554;
  --color-yellowgreen: #daf760;
  --color-darkolivegreen: rgba(42, 93, 50, 0.2);

  /* Gaps */
  --gap-21xl: 40px;
  --gap-9xl: 28px;
  --gap-63xl: 82px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-mini: 15px;
  --gap-45xl: 64px;
  --gap-xl: 20px;
  --gap-61xl: 80px;
  --gap-base: 16px;
  --gap-101xl: 120px;
  --gap-3xs: 10px;
  --gap-17xl: 36px;
  --gap-72xl: 91px;
  --gap-base-9: 16.9px;
  --gap-7xs: 6px;
  --gap-lgi: 19px;
  --gap-5xs: 8px;
  --gap-11xs: 2px;
  --gap-57xl: 76px;
  --gap-368xl: 387px;
  --gap-37xl: 56px;
  --gap-15xl: 34px;

  /* Paddings */
  --padding-44xl: 63px;
  --padding-226xl: 245px;
  --padding-141xl: 160px;
  --padding-xs-1: 11.1px;
  --padding-14xl-4: 33.4px;
  --padding-121xl: 140px;
  --padding-5xl: 24px;
  --padding-29xl: 48px;
  --padding-98xl: 117px;
  --padding-197xl: 216px;
  --padding-101xl: 120px;
  --padding-131xl: 150px;
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-61xl: 80px;
  --padding-13xl: 32px;

  /* Border radiuses */
  --br-5xs: 8px;
}
